.main{
    margin-top: 4%;
    display: inline-block;
    margin-left: 10%;
}
.heading{
    font-family: "Clash Display", sans-serif;
    font-weight: 300;
    font-size: 88px;
    letter-spacing: -0.03em;
    line-height: 1.1em;
    color: var(--secondary);
}
.paragraph1{
    font-family: "Satoshi";
    font-size: 24px;
    letter-spacing: -0.03em;
    line-height: 1.5em;
    color: var(--secondary);
}
.subheading{
    margin-top: 1%;
    font-family: "Clash Display", sans-serif;
    font-size: 40px;
    letter-spacing: -0.03em;
    line-height: 1.4em;
    color:var(--secondary);
    font-weight: 300;
}
.container{
    margin-top: 5%;
    border-radius: 32px;
    width: 1100px;
    height: 500px;
    background-color: var(--secondary);
}
.container1{
    background-color:var(--secondary);
    border-radius: 30px;
    box-shadow: 2px 10px 20px #00000026;
    width: 450px;
    height: 500px;
    margin: 0;
}
.h1{
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 20px;
    font-family: "Clash Display", sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 55px;
    color: var(--primary);
}
.paragraph2{
    padding: 30px;
    font-family: "Clash Display", sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: var(--primary);
}

@media (min-width:350px) and (max-width:500px){
    .main{
        margin-top: 4%;
        display: inline-block;
        margin-left: 5%;
    }
    .heading{
        font-family: "Clash Display", sans-serif;
        font-weight: 300;
        font-size: 40px;
        letter-spacing: -0.03em;
        line-height: 1.1em;
        color: var(--secondary);
    }
    .paragraph1{
        font-family: "Satoshi";
        font-size: 15px;
        letter-spacing: -0.03em;
        line-height: 1.5em;
        color: var(--secondary);
    }
    .subheading{
        margin-top: 1%;
        font-family: "Clash Display", sans-serif;
        font-size: 22px;
        letter-spacing: -0.03em;
        line-height: 1.4em;
        color:var(--secondary);
        font-weight: 300;
    }
    .container{
        margin-top: 5%;
        border-radius: 32px;
        width: 360px;
        height: 1000px;
        background-color: var(--secondary);
    }
    .container1{
        background-color:var(--secondary);
        border-radius: 30px;
        box-shadow: 2px 10px 20px #00000026;
        width: 360px;
        height: 500px;
        margin: 0;
    }
    .img{
        width: 350px;
        height: 500px;
    }
    .h1{
        padding-top: 80px;
        padding-left: 30px;
        padding-right: 20px;
        font-family: "Clash Display", sans-serif;
        font-size: 45px;
        font-weight: 400;
        line-height: 55px;
        color: var(--primary);
    }
    .paragraph2{
        padding: 30px;
        font-family: "Clash Display", sans-serif;
        font-size: 15px;
        line-height: 25px;
        color: var(--primary);
    }
}

@media (min-width:500px) and (max-width:850px){
    .main{
        margin-top: 4%;
        display: inline-block;
        margin-left: 5%;
    }
    .heading{
        font-family: "Clash Display", sans-serif;
        font-weight: 300;
        font-size: 50px;
        letter-spacing: -0.03em;
        line-height: 1.1em;
        color: var(--secondary);
    }
    .paragraph1{
        font-family: "Satoshi";
        font-size: 20px;
        letter-spacing: -0.03em;
        line-height: 1.5em;
        color: var(--secondary);
    }
    .subheading{
        margin-top: 1%;
        font-family: "Clash Display", sans-serif;
        font-size: 30px;
        letter-spacing: -0.03em;
        line-height: 1.2em;
        color:var(--secondary);
        font-weight: 300;
    }
    .container{
        margin-top: 5%;
        border-radius: 32px;
        width: 700px;
        height: 500px;
        background-color: var(--secondary);
    }
    .container1{
        background-color:var(--secondary);
        border-radius: 30px;
        box-shadow: 2px 10px 20px #00000026;
        width: 350px;
        height: 500px;
        margin: 0;
    }
    .img{
        width: 290px;
        height: 370px;
        margin-left: 3%;
    }
    .h1{
        padding-top: 80px;
        padding-left: 30px;
        padding-right: 20px;
        font-family: "Clash Display", sans-serif;
        font-size: 35px;
        font-weight: 400;
        line-height: 40px;
        color: var(--primary);
    }
    .paragraph2{
        padding: 20px;
        font-family: "Clash Display", sans-serif;
        font-size: 18px;
        line-height: 25px;
        color: var(--primary);
    }
}

@media (min-width:850px) and (max-width:1100px){
    .main{
        margin-top: 4%;
        display: inline-block;
        margin-left: 5%;
    }
    .heading{
        font-family: "Clash Display", sans-serif;
        font-weight: 300;
        font-size: 60px;
        letter-spacing: -0.03em;
        line-height: 1.1em;
        color: var(--secondary);
    }
    .paragraph1{
        font-family: "Satoshi";
        font-size: 25px;
        letter-spacing: -0.03em;
        line-height: 1.5em;
        color: var(--secondary);
    }
    .subheading{
        margin-top: 1%;
        font-family: "Clash Display", sans-serif;
        font-size: 35px;
        letter-spacing: -0.03em;
        line-height: 1.2em;
        color:var(--secondary);
        font-weight: 300;
    }
    .container{
        margin-top: 5%;
        border-radius: 32px;
        width: 950px;
        height: 500px;
        background-color: var(--secondary);
    }
    .container1{
        background-color:var(--secondary);
        border-radius: 30px;
        box-shadow: 2px 10px 20px #00000026;
        width: 450px;
        height: 500px;
        margin: 0;
    }
    .img{
        width: 400px;
        height: 400px;
        margin-left: 3%;
    }
    .h1{
        padding-top: 80px;
        padding-left: 30px;
        padding-right: 20px;
        font-family: "Clash Display", sans-serif;
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
        color: var(--primary);
    }
    .paragraph2{
        padding: 20px;
        font-family: "Clash Display", sans-serif;
        font-size: 20px;
        line-height: 25px;
        color: var(--primary);
    }
}