*{
    box-sizing: border-box;
    margin: auto;
    padding: 0px;
}
:root{
  --primary:#000;
  --secondary:#fff;
}
body {
    overflow-x: hidden;
    background-color: var(--primary);
    max-width: 1400px;
    /* max-width: 1440px; */

  }

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* the track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
@media screen and (min-width: 1920px) {
  body {
      max-width: 1920px;
  }
}
